* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/*BARRA DE ANUNCIOS - NORMAL*/


.barra-de-anuncios {
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: whitesmoke;
}

/* BARRA DE NAVEGACION*/


.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(2, 3, 78);
    box-shadow: 2PX 5PX 5px black;
}

.logo {
    /* display: flex;
    flex-direction: column;
    align-content: CENTER;
    margin: auto;
    width: 200px; */
    background-image: url(/assets/Logo/LOGO5.png);
    width: 200px;
    height: 50xp;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    margin-top: 3PX;
}

/* .logo h1 {
    color: rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 20px;
    
} */

/* .logo h2 {
    color: aqua;
    margin-left: 45PX;
    margin-top: 0px;
    font-size: 20px;
} */

.menu {
    align-content: center;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    width: 700px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-size: 18PX;
}


/* SECCION PROMOCION */

.contacto {
    width: 100%;
    height: 73vh;
    background-color: rgb(125, 214, 255);
    text-align: center;
    align-content: center;
}

.contacto-box {
    height: 90%;
    width: 55%;
    border: 2px solid black;
    margin: 1% auto 1% auto;
    background-color: rgb(43, 46, 245);
    box-shadow: 0px 0px 10px black;
    border-radius: 2%;
}

.titulo-contacto {
    height: 10%;
    width: 100%;
    align-content: center;
    background-color: rgb(2, 3, 78);
    border-top-left-radius: 12px;
    border-top-right-radius: 10px;
    /* border: 2px solid black; */
}

.titulo-contacto h1 {
    color: whitesmoke;
    text-shadow: 0px 0px 30px black;
}

.formulario-box {
    height: 85%;
    width: 90%;
    /* border: 2px solid black; */
    margin: 0.5% auto 2% auto;
    background-color: rgb(43, 46, 245);
    /* border: 2px solid black; */
}

.formulario-box form {
    color: whitesmoke;
    height: 100%;
    margin: 0% auto 0% auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.formulario-box form h2 {
    padding: 2% 0% 0% 2%;
    margin-bottom: 2%;
    text-shadow: 0px 0px 20px black;
}

.formulario-box form input {
    text-align: center;
    padding: 1.8% 0%;
    margin: 1% 0%;
    font-size: 18px;
    color: BLACK;
    background-color: rgb(180, 231, 255);
    border-radius: 20px;
    /* border: 2px solid black; */
}

.formulario-box .boton {
    width: 60%;
    margin: 0px auto 0px auto;
}

.formulario-box form input::placeholder {
    color: rgb(138, 137, 137, 0.5);
}

.formulario-box .condiciones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    width: 100%;
    padding: 1% 1% 1% 1%;
    margin: 2% 0% 0% 0%;
    align-items: left;
    text-align: left;
    align-content: center;
    /* border: 2px solid rgb(97, 3, 3); */
    /* border: 2px solid red;  */
}

.formulario-box .condiciones .checklist {
    display: flex;
    align-items: center;
}


.formulario-box .condiciones .checklist p {
    font-size: 13px;
    margin: 0px 0px 0px 5px;
}

/* .formulario-box .condiciones P {
    font-size: 100%;
    padding: 0.5% 0% 0.5% 0.5%;
    color: whitesmoke;
    text-shadow: 0px 0px 0px black;
    font-weight: bold;
} */



/* FOOTER */

.footer {
    height: 50vh;
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: rgb(2, 3, 78);
    /* border: 5px solid whitesmoke; */
}

.container {
    height: 40vh;
    width: 80%;
    margin: 0 auto;
    /* border: 5px solid whitesmoke; */

}

.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80%;
    /* border: 5px solid rgb(255, 0, 0); */
}

.link {
    /* width: 300px; */
    margin: 0px 10%;
    /* border: 5px solid rgb(251, 255, 0); */
}

.link h3 {
    font-size: 20px;
    color: #d6d6E2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link ul{
    text-decoration: none;
    list-style: none;
}

.link ul li{
    text-decoration: none;
}

.link a {
    font-size: 15px;
    color: #d6d6E2;
    display: block;
    margin-bottom: 20px;
}

link a:hover {
    color: #00c3ff;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    text-align: top;
}


.socials a {
    display: inline-block;
    height: 55px;
    width: 100xp;
    /* background-color: #00c3ff; */
    padding: 0px 15px 0px 10px;
    margin: 0 25px 10px 0;
    line-height: 60px;
    border-radius: 10%;
    color: #fff;
    font-size: 25px;
}

.socials a i {
    text-align: bottom;
}


form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    padding: 14px;
    outline: none;
    border: 2px solid #5f5f6e;
    font-size: 10px;
    margin-bottom: 5px;
    color: #B7B8BE;
}

::placeholder {
    color: #B7B8BE;
}

.btn {
    background-color: #00c3ff;
    color: #fff;
    border: 0;
}

hr {
    border: 1px solid #5f5f6e;
    margin-bottom: 10px;
}

.footer-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-text p {
    margin: 0px 50px;
    font-size: 15px;
    color: #B7B8BE;
}

/* RESPONSIVE */

/* 1338 */

/* height */

/* 944 */

@media (max-height:944px) {


    .contacto {
        width: 100%;
        height: 80vh;
        background-color: rgb(125, 214, 255);
        text-align: center;
        align-content: center;
    }


}

/* 822 */


@media (max-height:822px) {


    .contacto {
        width: 100%;
        height: 85vh;
        background-color: rgb(125, 214, 255);
        text-align: center;
        align-content: center;
    }


}


/* 600 */

@media (max-height:822px) {


    .contacto {
        width: 100%;
        height: 140vh;
        background-color: rgb(125, 214, 255);
        text-align: center;
        align-content: center;
    }


}



/* width */


/* 1600 */

@media (max-width:1600px) {


    .formulario-box .condiciones P {
        font-size: 80%;
    }



}



/* 960 */


@media (max-width:960px) {

    /*BARRA DE ANUNCIOS - NORMAL*/

    .barra-de-anuncios h3 {
        font-size: 15px;

    }

    /* BARRA DE NAVEGACION*/


    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 110px;
        width: 100%;
        align-items: center;
        padding: 8px 0px;

    }

    .logo {
        width: 180px;
        height: 50px;
        margin-right: 20px;
    }


    .menu ul {
        width: 500px;
    }

    .menu ul li a {
        font-size: 16px;
    }


    .contacto-box {
        height: 90%;
        width: 80%;
        border: 2px solid black;
        margin: 1% auto 1% auto;
        background-color: rgb(43, 46, 245);
        box-shadow: 0px 0px 10px black;
        border-radius: 2%;
    }

    .titulo-contacto h1 {
        font-size: 25px;
        color: whitesmoke;
        text-shadow: 0px 0px 30px black;
    }

    .formulario-box form h2 {
        font-size: 15px;
        padding: 10px 0px 0px 10px;
        margin-bottom: 8px;
        text-shadow: 0px 0px 20px black;
    }

    .formulario-box form input {
        font-size: 16px;
    }



    .formulario-box .condiciones P {
        font-size: 70%;
        padding: 1% 1% 1% 1%;
        color: whitesmoke;
        text-shadow: 0px 0px 0px black;
        font-weight: bold;
    }


    .footer {
        height: 42vh;
        width: 100%;
        padding: 15px 0 50px 0;

    }

    .container {
        height: 40vh;
        width: 85%;
        margin: 0 auto;
    }

    .footer-link {
        grid-template-columns: 1fr 1fr;
        height: 85%;
    }

    .footer-text {
        grid-template-columns: 1fr 1fr;
    }

    .link h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }


    .link a {
        font-size: 11px;
        margin: 1px 1px 1px 1px;
    }


    .socials {
        margin-bottom: 10px;
    }

    .socials a {
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
        font-size: 15px;
        background-color: none;
        margin: auto;
        align-items: center;
        text-decoration: none;
    }


    .footer-text {
        margin-left: 30px;
    }

    .footer-text p {
        font-size: 11px;
        margin: 1px 1px 1px 1px;
    }

    .footer .link form input {
        width: 80%;
        height: 10px;
    }



}


/* 480 */

@media (max-width:480px) {



    .barra-de-anuncios h3 {
        font-size: 13px;

    }

    /* BARRA DE NAVEGACION*/


    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 220px;
        width: 100%;
        background-color: rgb(2, 3, 78);
        box-shadow: 2PX 5PX 5px black;
        border: 2px solid yellow;
        align-items: center;
    }

    .logo {
        background-image: url(/assets/Logo/LOGO5.png);
        width: 180px;
        height: 50px;
        margin-right: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid yellow;
    }

    /* .logo h1 {
        color: rgb(255, 255, 255);
        margin-left: 30px;
        font-size: 20px;
        
    } */

    /* .logo h2 {
        color: aqua;
        margin-left: 45PX;
        margin-top: 0px;
        font-size: 20px;
    } */

    .menu {
        align-content: center;
        border: 2px solid yellow;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 175px;
        list-style: none;
        border: 2px solid yellow;
    }

    .menu ul li {
        margin: 3px 0px 3px 0px;
        text-align: center;
    }

    .menu ul li a {
        text-decoration: none;
        color: rgb(219, 219, 219);
        font-size: 16px;

    }

    .contacto-box {
        height: 90%;
        width: 90%;
        border: 2px solid black;
        margin: 1% auto 1% auto;
        background-color: rgb(43, 46, 245);
        box-shadow: 0px 0px 10px black;
        border-radius: 2%;
    }

    .titulo-contacto h1 {
        font-size: 20px;
        color: whitesmoke;
        text-shadow: 0px 0px 30px black;
    }

    .formulario-box form h2 {
        font-size: 15px;
        padding: 10px 0px 0px 10px;
        margin-bottom: 8px;
        text-shadow: 0px 0px 20px black;
    }

    .formulario-box form input {
        font-size: 14px;
    }



    .formulario-box .condiciones P {
        font-size: 60%;
        padding: 1% 1% 1% 1%;
        color: whitesmoke;
        text-shadow: 0px 0px 0px black;
        font-weight: bold;
    }



    .footer {
        height: 70vh;
        width: 100%;
        padding: 10px 0 10px 0;
        border: none;
        
    }
    
    .container{
        height: 60vh;
        width: 100%;  
        border: none ;
    
      }
    
    .footer-link {
        height: 60vh;
        grid-template-columns: 1fr   ;
        border: none ;
      
    }

    .footer-text {
        grid-template-columns: 1fr ;
    
    }

    .socials {
        display: flex;
        flex-direction: row;
        width: 200px;
        margin-bottom: 5px;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
    

    .link {
        text-align: center;
        margin: 10px auto 0px auto;
        padding: 0;
        height: 50px;
        width: 200px;
    }
    
    
    .socials a {
        width: 100px;
        height: 30px;
        padding: 0px 0px 0px 0px;
        font-size: 17px !important ;
    }

  

    .link h3{
        font-size: 15px;
        margin: 2px;
    }

    .link a {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
    
    .footer-text {
        text-align: center;
    }

    .footer-text p{
        font-size: 10px;
     }

     input{
        padding: 2px;
        font-size: 5px;
        margin-bottom: 2px;
        margin: 10px  auto 0px auto;
    }
    

    .btn {
        border: 0;
       
    }







}