*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.barra-de-anuncios{
    height: 40px;
    text-align: center;
    align-content: center;
    background-color: whitesmoke;
}


.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(2, 3, 78);
    box-shadow: 2PX 5PX 5px black;
}

.logo{
    /* display: flex;
    flex-direction: column;
    align-content: CENTER;
    margin: auto;
    width: 200px; */
    background-image: url(/assets/Logo/LOGO5.png);
    width: 200px;
    height: 50xp;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px; 
    margin-top: 3PX;
}

/* .logo h1 {
    color: rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 20px;
    
} */

/* .logo h2 {
    color: aqua;
    margin-left: 45PX;
    margin-top: 0px;
    font-size: 20px;
} */

.menu {
    align-content: center;
}

.menu ul  {
    display: flex;
    justify-content: space-around;
    width: 700px;
    list-style: none;
}

.menu ul li a {
   text-decoration: none;
   color: rgb(219, 219, 219);
   font-size: 18PX;
}


 /* SECCION SERVICIOS */

 .servicios {
    width: 100%;
    height: 70vh;
    background-color: rgb(125, 214, 255);
    text-align: center;
    align-content: center;
    
 }

 .servicio-box{
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    width: 70%;
    height: 95%;
    border: 5px solid rgb(4, 2, 105);
    /* box-shadow: 0px 0px 10px black; */
    margin: auto;

 }


.imagen-del-servicio{
    width: 100%;
    height: 100%;
}

 .servicio-text{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(43, 46, 245);
    padding: 0.5% 2% 3% 2%;
    border-left: 5px solid rgb(4, 2, 105);

 }

 .servicio-text h2{
    margin: 5px 0px 0px 0px;
    color: whitesmoke;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    /* border: 2px solid black; */
  }

  .servicio-text h4{
    margin: 1.5% 1% 0% 1%;
    color: rgb(152, 211, 250);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    /* border: 2px solid black; */
    /* text-align: left; */
    /* background-color: rgba(0, 0, 0, 0.5); */

  }

  .servicio-box .servicio-text {
    display: flex;
    flex-direction: column;
  }

  .servicio-text h1 {
    margin: 20px 0px 0px 0px;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
    /* border: 2px solid black; */
  }

  .servicio-text p {
    font-size: 14.8px;
    margin: 1.5% 1% 0% 1%;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
    /* border: 2px solid black; */
    /* text-align: left; */
  }

  
  .servicio-text p a {
    margin: 1.5% 1% 0% 1%;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
    text-align: left;
    
  }

  .servicio-text .vertical{
    text-align: left;
    margin: 0% 6%;
  }

  .servicio-text .horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0% 0% 2% 0%;
  }

  .servicio-text .horizontal {
    margin: 18px 0px 10px 0px;
    list-style: none;
  }

  .servicio-text .horizontal  li  {
    font-size: 13px;
    color: whitesmoke;
    padding: 0% 2% 0% 2%;
    /* border: 2PX SOLID black; */
  }

  .servicio-text .horizontal  li a i {
    font-size: 15px;
    color: whitesmoke;
   

  }

  .servicio-text .horizontal ul li a i {
    color: aquamarine;

  }

/* FIN SECCION SERVICIOS */

 

/* MENU - SERVICIO */

/* SECCION CATALOGO */

.catalogo {
    width: 100%;
    height: 50vh;
    background-color: rgb(43, 46, 245);
    align-content: center;
 }

 .catalogo-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    width: 96%;
    height: 100%;
    /* border: 2px solid black; */
    margin: auto;
 }

 /* TARJETA VIAJES */

 
 .producto-box{
    width: 90%;
    height: 93%;
    margin: 20px 20px 0px 20px;
    border: 2px solid black;

 }

 .producto-box a {
    text-decoration: none;
 }

 .producto-box:hover{
    box-shadow: 0px 0px 15px black;
 }

 .tarjeta3{
    height: 100%;
    width: 100%;

 }


 .tarjeta3 img{
    height: 50%;
    width: 100%;

}

.tarjeta3 h1{
    background-color: white;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 0px rgb(2, 3, 78);
    padding: 10px;
    text-align: center;
}

.tarjeta3 p{
   padding: 10px 10px;
   color: aliceblue;
   font-size: 15px;
   text-align: center;
}

.tarjeta3 button{
    width: 100%;
    padding: 10px 40px;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 0px 0px 0px 0px ;
   
 }
/* FIN TARJETA - CATALOGO */


/* FIN - MENU - SERVICIO */

/* FOOTER */

.footer {
    height: 50vh;
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: rgb(2, 3, 78);
    /* border: 5px solid whitesmoke; */
}

.container{
    height: 40vh;
    width: 80%;  
    margin: 0 auto;
    /* border: 5px solid whitesmoke; */

  }

.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    height: 80%;
    /* border: 5px solid rgb(255, 0, 0); */
}

.link{
    /* width: 300px; */
    margin: 0px 10%;
    /* border: 5px solid rgb(251, 255, 0); */
}

.link h3 {
    font-size: 20px;
    color: #d6d6E2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link ul{
    text-decoration: none;
    list-style: none;
}

.link ul li{
    text-decoration: none;
}

.link a {
    font-size: 15px;
    color: #d6d6E2;
    display: block;
    margin-bottom: 20px;
}

link a:hover {
    color: #00c3ff;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    text-align: top;
}


.socials a {
    display: inline-block;
    height: 55px;
    width: 100xp;
    /* background-color: #00c3ff; */
    padding: 0px 15px 0px 10px;
    margin: 0 25px 10px 0;
    line-height: 60px;
    border-radius: 10%;
    color: #fff ;
    font-size: 25px;
}

.socials a i {
  text-align: bottom;
}


form{
    display: flex;
    flex-direction: column;
}

input{
    background-color: transparent;
    padding: 14px;
    outline: none;
    border: 2px solid #5f5f6e ;
    font-size: 10px;
    margin-bottom: 5px;
    color: #B7B8BE ;
}

::placeholder {
    color: #B7B8BE;
}

.btn {
    background-color: #00c3ff;
    color: #fff;
    border: 0;
}

hr{
    border: 1px solid #5f5f6e ;
    margin-bottom: 10px;
}

.footer-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-text p{
   margin: 0px 50px;
   font-size: 15px;
   color: #B7B8BE;
}

/* MEDIA QUERIES */

/* HEIGHT */


@media (max-height:922px) {


    .servicios {
        width: 100%;
        height: 100vh;
        
     }


     .catalogo {
        width: 100%;
        height: 70vh;
     }

    
}


@media (max-height:830px) {

    .servicios {
        width: 100%;
        height: 110vh !important;
        
     }

     .catalogo {
        width: 100%;
        height: 65vh !important;
     }

     .tarjeta3 p{
        font-size: 12px !important;
     }
     


}

/* @media(max-height:740px) {
     .catalogo {
        height: 200vh !important;
     }
} */


@media(max-height:600px) {

    .servicios{
        height: 130vh !important;
    }

    .servicio-box {
        width: 90% !important;
    }

    .catalogo {
        height: 90vh !important;
     }

     .footer {
        height: 70vh !important;
     }

     .footer-link {
        height: 110% !important;
     }
}

/* width */


/* 1600 */

@media (max-width:1600px) {

    /* SERVICIOS */

    .servicios {
        height: 75vh;
     }

     .servicio-box{
        grid-template-columns: 1.2fr 1.8fr;
     }
    
      .servicio-text .horizontal {
        margin: 18px 0px 18px 0px;
      }
    
      .servicio-text .horizontal  li  {
        font-size: 12px;
      }
    
      .servicio-text .horizontal  li a i {
        font-size: 12px;
      }
    
    /* FIN SECCION SERVICIOS */
    
    /* SECCION CATALOGO */
    
    .catalogo {
        height: 50vh;
     }
    
     .catalogo-box{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        width: 96%;
        height: 100%;
     }
    
     /* TARJETA VIAJES */
     
     .producto-box{
        width: 90%;
        height: 93%;
        margin: 20px 20px 0px 20px;
        border: 2px solid black;
    
     }
    
    
    .tarjeta3 h1{
        font-size: 21px;
    }
    
    .tarjeta3 p{
       font-size: 13px;
    }
    
    /* FIN SECCION - CATALOGO */


}


/* 1328 */

@media (max-width:1328px) {

    .servicios {
        height: 88vh;
     }

     .catalogo {
        width: 100%;
        height: 60vh;
     }

     .tarjeta3 h1{
        font-size: 20px;
    }

   


}

/* 960 */


@media (max-width:960px) {

/*BARRA DE ANUNCIOS - NORMAL*/

.barra-de-anuncios h3{
    font-size: 15px;

}

/* BARRA DE NAVEGACION*/


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110px;
    width: 100%;
    align-items: center;
    padding: 8px 0px;
    
}

.logo{
    width: 180px;
    height: 50px;
    margin-right: 20px;
}


.menu ul  {
    width: 500px;
}

.menu ul li a {
   font-size: 16px;
}

 /* SECCION SERVICIO */

.servicios {
    width: 100%;
    height: 75vh;

 }

 .servicio-box{
    grid-template-columns: 1.2fr 1.8fr;
    width: 90%;
    height: 90%;
 }


 .servicio-text h2{
    font-size: 15px;
  }

  .servicio-text h4{
    font-size: 12px;
  }


  .servicio-text h1 {
    font-size: 20px;
  }

  .servicio-text p {
    font-size: 12px;
  }


  .servicio-text .horizontal {
    margin: 15px 0px 10px 0px;
  }

  .servicio-text .horizontal  li  {
    font-size: 8px;
  }

  .servicio-text .horizontal  li a i {
    font-size: 10px;
  }


/* FIN SECCION SERVICIOS */

/* SECCION CATALOGO */

.catalogo {
    width: 100%;
    height: 60vh;
 }

 .catalogo-box{
    grid-template-columns: 1fr 1fr 1fr   ;
    grid-template-rows: 50% 50%;
    width: 85%;
    height: 98%;
    align-items: center;
 }

 /* TARJETA VIAJES */

 
 .producto-box{
    width: 90%;
    height: 95%;
    margin: 0px 10px 0px 10px;
 }

 .tarjeta3{
    height: 70%;
 }

 .tarjeta3 img{
    height: 50%;
}

.tarjeta3 h1{
    font-size: 16px;
}

.tarjeta3 p{
   font-size: 9px;
}

/* FIN TARJETA - CATALOGO */

 
.footer {
    height: 42vh;
    width: 100%;
    padding: 15px 0 50px 0;

}

.container{
    height: 40vh;
    width: 85%;  
    margin: 0 auto;
  }

.footer-link {
    grid-template-columns: 1fr 1fr  ;
    height: 85%;
}

.footer-text {
    grid-template-columns: 1fr 1fr ;
}

.link h3{
    font-size: 14px;
    margin-bottom: 10px;
}


.link a {
    font-size: 11px;
    margin: 1px 1px 1px 1px;
}


.socials {
    margin-bottom: 10px;
}

.socials a {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 15px;
    background-color: none;
    margin: auto;
    align-items: center;
    text-decoration: none;
}


.footer-text {
    margin-left: 30px;
}

.footer-text p{
    font-size: 11px;
    margin: 1px 1px 1px 1px;
 }

 .footer .link form input {
    width: 80%;
    height: 10px;
 }
}


/* 600 px */

@media (max-width:600px) {
    
    .tarjeta3 p{
        font-size: 8px;
     }
}


/* 480 px */

@media (max-width:480px) {



    .barra-de-anuncios h3{
        font-size: 13px;
    
    }
    
    /* BARRA DE NAVEGACION*/
    
    
    .navbar {
        display: flex;
        height: 200px;
        width: 100%;
    }
    
    .logo{
        background-image: url(/assets/Logo/LOGO5.png);
        width: 180px;
        height: 50px;
        margin-right: 50px;

    }
    
    
    .menu {
        align-content: center;
    }
    
    .menu ul  {
        display: flex;
        flex-direction: column;
        width: 150px;
        list-style: none;

    }

    .menu ul li {
        margin: 3px 0px 3px 0px ;
        text-align: center;
        background-color: rgba(26, 26, 26, 0.3); 
        border-radius: 10%;
    }
    
    .menu ul li a {
       text-decoration: none;
       color: whitesmoke;
       font-size: 16px;
    

    }


/* SERVICIOS */

    
.servicios {
    height: 110vh ;
 }

 .servicio-box{
    grid-template-columns: 1fr ;
    grid-template-rows: 30% 70%;
    width: 90%;
    height: 90%;
 }


 .imagen-del-servicio{
    width: 100%;
    height: 100%;
}


/* SECCION CATALOGO */

.catalogo {
    width: 100%;
    height: 100vh;
 }

 .catalogo-box{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 33% 33% 33%;
    width: 90%;
    height: 95%
 }

 /* TARJETA VIAJES */

 .producto-box{
    width: 90%;
    height: 95%;
 }

 .tarjeta3{
    height: 70%;
    width: 100%;
 }


 .tarjeta3 img{
    height: 50%;
    width: 100%;
}

.tarjeta3 h1{
    font-size: 20px;
}

.tarjeta3 p{
   font-size: 9px;
}


/* FIN TARJETA - CATALOGO */

    .footer {
        height: 70vh;
        width: 100%;
        padding: 10px 0 10px 0;
        border: none;
        
    }
    
    .container{
        height: 60vh;
        width: 100%;  
        border: none ;
    
      }
    
    .footer-link {
        height: 60vh;
        grid-template-columns: 1fr   ;
        border: none ;
      
    }

    .footer-text {
        grid-template-columns: 1fr ;
    
    }

    .socials {
        display: flex;
        flex-direction: row;
        width: 200px;
        margin-bottom: 5px;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
    

    .link {
        text-align: center;
        margin: 10px auto 0px auto;
        padding: 0;
        height: 50px;
        width: 200px;
    }
    
    
    .socials a {
        width: 100px;
        height: 30px;
        padding: 0px 0px 0px 0px;
        font-size: 17px !important ;
    }

  

    .link h3{
        font-size: 15px;
        margin: 2px;
    }

    .link a {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
    
    .footer-text {
        text-align: center;
    }

    .footer-text p{
        font-size: 10px;
     }

     input{
        padding: 2px;
        font-size: 5px;
        margin-bottom: 2px;
        margin: 10px  auto 0px auto;
    }
    

    .btn {
        border: 0;
       
    }

    

}


@media (max-width:344px) {

    .catalogo {
        width: 100%;
        height: 150vh;
     }


    .catalogo-box{
        grid-template-columns: 1fr  ;
        grid-template-rows: 20% 20% 20% 20% 20% ;
        width: 90%;
        height: 99%;
     }

     /* TARJETA VIAJES */

 .producto-box{
    width: 70%;
    height: 90%;
    margin: auto;

 }


 .tarjeta3{
    height: 70%;
    width: 100%;

 }


 .tarjeta3 img{
    height: 50%;
    width: 100%;

}

.tarjeta3 h1{
    font-size: 15px;
    padding: 10px;
}

.tarjeta3 p{
   font-size: 9px;
}

/* FIN TARJETA - CATALOGO */

}

