<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO - PRIMER PARCIAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/Nosotros.css">
</head>

<body>

    <header>
        <nav>
            <div class="barra-de-anuncios">
                <h3>RECCORE ARGENTINA ✈️ TU AGENCIA DE TURISMO 🏙️ VIAJA YA! 🔥</h3>
            </div>
            <div class="navbar">
                <div class="logo">
                    <!-- <h1>RECORRE</h1>
                    <h2>🩵 ARGENTINA</h2> -->
                    <!-- <img src="/LOGO.png" alt="">  -->
                </div>
                <div class="menu">
                    <ul>
                        <li> <a href="/index.html">INICIO</a></li>
                        <li> <a href="/templates/Nosotros.html">NOSOTROS</a></li>
                        <li> <a href="/templates/Paquetes.html">PAQUETES</a></li>
                        <li> <a href="/templates/servicios.html">SERVICIOS</a></li>
                        <li> <a href="/templates/Contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="encabezado-img">
            <div class="encabezado-box">
                <!-- <h1>¿QUIENES SOMOS?</h1> -->
                <H2>¿QUIENES SOMOS?</H2>
                <h3>Bienvenido a Recorre Argentina🌎✈️ <br> Descubre la Belleza de Argentina con Nosotros. <br><br> </h3>
                <p>
                    En Viajes Argentinos, nos apasiona explorar los rincones más fascinantes de nuestro hermoso país. <br> Con sedes en todas las provincias de la República Argentina, estamos listos para llevarte a aventuras inolvidables. 🌟
                    <br><br> </p>
                    <h3>Nuestros Servicios Personalizados: <br><br></h3>
                    <p>Paquetes de Viajes a Medida: Diseñamos itinerarios adaptados a tus preferencias. <br> Desde las majestuosas cataratas de Iguazú hasta las montañas nevadas de Bariloche, tenemos opciones para todos los gustos. <br>
                    Seguros de Viaje: Tu tranquilidad es nuestra prioridad. Ofrecemos seguros de viaje completos para que puedas explorar sin preocupaciones. <br>
                    Choferes Profesionales: ¿Prefieres relajarte y disfrutar del paisaje? Nuestros choferes expertos te llevarán a tu destino con seguridad y comodidad. <br>
                    Servicio de Viandas: Durante tus excursiones, no te preocupes por el hambre. Nuestras viandas deliciosas te mantendrán energizado. <br>
                    Guías Turísticos Apasionados: Descubre la historia, la cultura y las leyendas de cada lugar con nuestros guías locales. ¡Te sorprenderás! <br><br>
                    </p> <h3>Destinos Destacados: <br> <br></h3>
                    <p>Bariloche: Disfruta de las vistas panorámicas de los lagos y las montañas. 🏔️ <br>
                    Córdoba: Explora las sierras y los valles. 🌄 <br>
                    Mendoza: Degusta los mejores vinos en sus bodegas. 🍷 <br>
                    Norte Argentino: Sumérgete en la cultura andina y visita las ruinas de los Incas. 🏛️ <br>
                    Puerto Iguazú: Maravíllate con las cataratas más impresionantes del mundo. 🌊 <br>
                    El Calafate y Ushuaia: Descubre los glaciares y la belleza del fin del mundo. ❄️🌎 <br>
                    Buenos Aires: La vibrante capital te espera con su tango, su arquitectura y su vida nocturna. 🌆 <br><br>
                    </p> <h3>¡Reserva Ahora! <br><br></h3>
                <!-- <button>VER TODOS LOS PRODUCTOS</button> -->

            </div>
        </div>
<!-- 
        <div class="nosotros">

            <div class="contenido">

            <div class="box-contenido-1">

                <div class="img-nosotros-1">

                </div>

                <div class="text-nosotros-1">

                </div>

            </div>

            <div class="box-contenido-2">

                <div class="img-nosotros-2">

                </div>

                <div class="text-nosotros-2">

                </div>

            </div>


            </div>


        </div> -->

    </header>


    <footer class="footer">


        <div class="container">

            <div class="footer-link">
                

                <div class="link">
                    <h3>MENU</h3>
                    <ul>
                        <li><a href="#">INCIO</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">PAQUETES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>

                <div class="link">
                    <h3>SERVICIOS</h3>
                    <ul>
                        <li><a href="#">VIANDAS</a></li>
                        <li><a href="#">SEGURO</a></li>
                        <li><a href="#">CHOFER</a></li>
                        <li><a href="#">GUIA</a></li>
                        <li><a href="#">TRADUCTOR</a></li>
                    </ul>
                </div>

                <div class="link">
                    <h3>DES. FAVORITOS</h3>
                    <ul>
                        <li><a href="#">INCIO</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">VIAJES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div> 


                <div class="link">
                    <h3>SIGUIENOS</h3>
                    <div class="socials">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://x.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="https://ar.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <h3>SUSCRIBETE</h3>
                    <form>
                        <input type="email" placeholder="Correo">
                        <input class="btn" type="submit" value="Enviar">
                    </form>
                </div>

            </div>

            <hr>
            <div class="footer-text">
                <p>Politica de privacidad</p>
                <p>Terminos y condiciones de servicio</p>
                <p>Politica de cookies</p>
                <p>Todos los derechos reservados</p>

            </div>

        </div>



    </footer>

</body>

</html>