<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO - PRIMER PARCIAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/Paquetes.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <nav>

            <div class="barra-de-anuncios">
                <h3>RECCORE ARGENTINA ✈️ TU AGENCIA DE TURISMO 🏙️ VIAJA YA! 🔥</h3>
            </div>
            <div class="navbar">
                <div class="logo">
                    <!-- <h1>RECORRE</h1>
                    <h2>🩵 ARGENTINA</h2> -->
                    <!-- <img src="/LOGO.png" alt="">  -->
                </div>
                <div class="menu">
                    <ul>
                        <li> <a href="/index.html">INICIO</a></li>
                        <li> <a href="/templates/Nosotros.html">NOSOTROS</a></li>
                        <li> <a href="/templates/Paquetes.html">PAQUETES</a></li>
                        <li> <a href="/templates/servicios.html">SERVICIOS</a></li>
                        <li> <a href="/templates/Contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>








    </header>



    <main>


        <div class="catalogo">

            <div class="catalogo-box">

                <!--PRIMERA LINEA -->
                <div class="producto-box">
                    <a href="/templates/Producto.html">
                        
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/BS AS CAPITAL.jpg" alt="">
                            <h1>BS AS</h1>

                            <!-- <ul class="horizontal">
                                <li> 4  <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                                <li> 4 <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                                <li> 3 <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                                <li> 1 <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                            </ul> -->


                            <p>Buenos Aires, capital de Argentina, se ha
                                convertido en una de las ciudades más importantes de Latinoamérica. Moderna y llena de
                                tradiciones, esta ciudad sorprende y enamora a sus visitantes con su gastronomía, tango,
                                fútbol, vida nocturna y una mezcla única de influencias culturales1. ¡Ven a descubrirla!
                            </p>

                            <!-- <ul class="horizontal">
                                <li> 4  <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                                <li> 4 <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                                <li> 3 <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                                <li> 1 <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> </li>
                            </ul> -->

                            <!-- <button>OFERTA EXCLUSIVA</button> -->
                        </div>
                    </a>
                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/1. TUCUMAN.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/TUCUMAN.jpg" alt="">
                            <h1>TUCUMAN</h1>
                            <p>Tucumán, conocida como “El Jardín de la República”, es una provincia argentina rica en
                                historia y naturaleza. Desde la ciudad de San Miguel de Tucumán, cuna de la
                                independencia, hasta los hermosos cerros de San Javier, este destino ofrece una mezcla
                                única de cultura, paisajes y aventura. ¡Descubre sus tesoros! </p>
                            <!-- <button>VER MAS</button> -->
                        </div>
                    </a>


                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/2. MENDOZA.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/MENDOZA.webp" alt="">
                            <h1>MENDOZA</h1>
                            <p>Mendoza, conocida como la “Tierra del Sol y Vino”, enamora a los visitantes con sus
                                viñedos, bodegas y paisajes nevados de la Cordillera de los Andes. Esta ciudad
                                vitivinícola, capital mundial del Malbec, ofrece una experiencia única para los amantes
                                del vino y la naturaleza.</p>
                            <!-- <button>VER MAS</button> -->
                        </div>
                    </a>

                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/3. CORDOBA.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/CORDOBA.jpg" alt="">
                            <h1>CORDOBA</h1>
                            <p>Córdoba, conocida por su rica historia y majestuosos edificios coloniales, es una ciudad
                                universitaria vibrante. La Manzana Jesuítica, declarada Patrimonio de la Humanidad por
                                la Unesco, alberga edificios históricos y restos precolombinos. Su ubicación
                                la convierte en un destino clave para los argentinos y viajeros curiosos.
                            </p>
                            <!-- <button>VER MAS</button> -->
                        </div>

                    </a>


                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/4. CHUBUT.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/CHUBUT.jpg" alt="">
                            <h1>CHUBUT</h1>
                            <p>Chubut, ofrece una diversidad asombrosa: desde montañas
                                imponentes hasta playas de arena dorada. Explora el Parque Nacional Los Alerces, o viaja
                                en el Viejo Expreso Patagónico La
                                Trochita desde Esquel. Además, cuenta con ciudades como Puerto
                                Madryn y Puerto Pirámides. ¡Descubre la
                                serenidad y la belleza de Chubut!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>

                    </a>


                </div>


                <!-- SEGUNDA LINEA -->
                <div class="producto-box">
                    <a href="/templates/Destinos/5. RIO NEGRO.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/RIO NEGRO.jpg" alt="">
                            <h1>RIO NEGRO</h1>
                            <p>Río Negro, es uno de los pocos lugares de Argentina donde
                                puedes combinar la nieve y la playa, la tranquilidad de las zonas rurales y el vértigo
                                de la aventura. Esta provincia ofrece una diversidad única de paisajes en la Patagonia.
                                ¡Una experiencia
                                inolvidable para los amantes de la naturaleza y la aventura! </p>
                            <!-- <button>OFERTA EXCLUSIVA</button> -->
                        </div>
                    </a>
                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/6. NEUQUEN.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/NEUQUEN.jpg" alt="">
                            <h1>NEUQUEN</h1>
                            <p>Neuquén, es un destino que cautiva con su belleza natural.
                                Rodeada de lagos, ríos y montañas, ofrece actividades como esquí en el Cerro Bayo,
                                senderismo y termas. San Martín de los Andes y Villa La Angostura son lugares
                                imperdibles en esta provincia. ¡Descubre sus secretos y enamórate de la Patagonia! 🏔️🌲
                            </p>
                            <!-- <button>VER MAS</button> -->
                        </div>
                    </a>


                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/7. SAN JUAN .html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/SAN JUAN.jpeg" alt="">
                            <h1>SAN JUAN</h1>
                            <p>San Juan: Ciudad amable y tranquila, donde la cultura se entrelaza con la modernidad. Sus
                                tradiciones únicas, arquitectura y tonos amarillos te envuelven mientras disfrutas de la
                                serenidad. Además, ofrece paisajes naturales impresionantes,
                                como el Parque Natural Ischigualasto “Valle de la Luna” ¡Una experiencia que no puedes
                                perderte!!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>
                    </a>

                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/8. JUJUY .html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/JUJUY.jpg" alt="">
                            <h1>JUJUY</h1>
                            <p>Jujuy, la tierra colorada del norte de Argentina, te invita a conectar con la Pachamama.
                                Sus imponentes montañas, cerros coloridos y rica cultura
                                hacen de Jujuy un destino único para los amantes de la naturaleza y los viajeros
                                aventureros. ¡Descubre sus paisajes, sabores y gente amable en tu próximo viaje!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>

                    </a>


                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/9. SALTA .html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/SALTA.webp" alt="">
                            <h1>SALTA</h1>
                            <p>Salta, la ciudad de la eterna primavera, combina la majestuosidad de la arquitectura
                                colonial con la vitalidad de la cultura andina. Sus calles empedradas, plazas históricas
                                y mercados vibrantes te invitan a explorar su rica herencia. No te pierdas el Museo de
                                Alta Montaña y el Tren a las Nubes. ¡Una experiencia inolvidable!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>

                    </a>


                </div>

                <!-- TERCERA LINEA -->

                <div class="producto-box">
                    <a href="/templates/Destinos/10. TIERRA DEL FUEGO.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/TIERRA DEL FUEGO.jpg" alt="">
                            <h1>TS DEL FUEGO</h1>
                            <p>Tierra del Fuego, el extremo austral de las Américas, . Sus paisajes oscilan entre lo
                                hermoso, lo antiguo y lo extraño. Desde las
                                llanuras erosionadas y los bosques de lenga cubiertos de musgo hasta las montañas
                                nevadas. ¡Explora
                                este destino mítico en el fin del mundo!</p>
                            <!-- <button>OFERTA EXCLUSIVA</button> -->
                        </div>
                    </a>
                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/11. MISIONES .html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/MISIONES.webp" alt="">
                            <h1>MISIONES</h1>
                            <p>Misiones, una parada obligatoria dentro del circuito turístico del noreste argentino, es
                                hogar de una de las maravillas naturales del mundo: las majestuosas Cataratas del
                                Iguazú. Además, ofrece scircuitos turísticos, y una rica herencia
                                cultural con ruinas jesuíticas. Sumérgete en la naturaleza, explora sus cascadas y
                                descubre una conexion plena"</p>
                            <!-- <button>VER MAS</button> -->
                        </div>
                    </a>


                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/12. ENTRE RIOS.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/ENTRE RIOS.png" alt="">
                            <h1>ENTRE RIOS</h1>
                            <p>Entre Ríos, la provincia de los ríos y las playas, te invita a sumergirte en su calidez y
                                encanto. Disfruta de sus termas, festivales, pesca deportiva y tradiciones
                                gastronómicas. Explora el Palacio San José, el Parque Nacional El Palmar y la belleza
                                natural que caracteriza esta tierra mágica. ¡Ven y descubre los secretos que Entre Ríos
                                tiene para ofrecer!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>
                    </a>

                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/13. SANTA CRUZ.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/SANTA CRUZ.jpg" alt="">
                            <h1>SANTA CRUZ</h1>
                            <p>Santa Cruz, la joya del sur de Patagonia, cautiva con sus glaciares imponentes y paisajes
                                vírgenes. El majestuoso Glaciar Perito Moreno ofrece vistas panorámicas desde senderos o
                                navegaciones. Además, sus extensas playas de arena y guijarros invitan a explorar y
                                pescar en el mar. ¡Descubre la belleza natural y la aventura al aire libre!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>

                    </a>


                </div>
                <div class="producto-box">
                    <a href="/templates/Destinos/14. SAN LUIS.html">
                        <div class="tarjeta3">
                            <img src="/assets/imgGenerales/San Luis.jpg" alt="">
                            <h1>SAN LUIS</h1>
                            <p>San Luis, la provincia de los senderos y las sierras, te invita a explorar su naturaleza
                                virgen. El Parque Nacional Sierra de las Quijadas ofrece vistas panorámicas y rutas de
                                senderismo. Además, puedes relajarte en centros termales y descubrir pueblos
                                ancestrales. ¡Una experiencia única en el corazón de Cuyo!</p>
                            <!-- <button>VER MAS</button> -->
                        </div>

                    </a>


                </div>







            </div>




        </div>

        <!-- <div class="viajes-carrusel">
            <div class="tarjeta2">
                <img src="/BS AS CAPITAL.jpg" alt="">
                <h1>BUENOS AIRES</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/TUCUMAN.jpg" alt="">
                <h1>TUCUMAN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/MENDOZA.webp" alt="">
                <h1>MENDOZA</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/CORDOBA.jpg" alt="">
                <h1>CORDOBA</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/CORDOBA.jpg" alt="">
                <h1>CORDOBA</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
        </div>
    </main> -->

    <footer class="footer">


        <div class="container">

            <div class="footer-link">
                

                <div class="link">
                    <h3>MENU</h3>
                    <ul>
                        <li><a href="#">INCIO</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">PAQUETES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>

                <div class="link">
                    <h3>SERVICIOS</h3>
                    <ul>
                        <li><a href="#">VIANDAS</a></li>
                        <li><a href="#">SEGURO</a></li>
                        <li><a href="#">CHOFER</a></li>
                        <li><a href="#">GUIA</a></li>
                        <li><a href="#">TRADUCTOR</a></li>
                    </ul>
                </div>

                <div class="link">
                    <h3>DES. FAVORITOS</h3>
                    <ul>
                        <li><a href="#">INCIO</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">VIAJES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div> 


                <div class="link">
                    <h3>SIGUIENOS</h3>
                    <div class="socials">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://x.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="https://ar.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <h3>SUSCRIBETE</h3>
                    <form>
                        <input type="email" placeholder="Correo">
                        <input class="btn" type="submit" value="Enviar">
                    </form>
                </div>

            </div>

            <hr>
            <div class="footer-text">
                <p>Politica de privacidad</p>
                <p>Terminos y condiciones de servicio</p>
                <p>Politica de cookies</p>
                <p>Todos los derechos reservados</p>

            </div>

        </div>



    </footer>

</body>

</html>