<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO - PRIMER PARCIAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/Producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <nav>

            <div class="barra-de-anuncios">
                <h3>RECCORE ARGENTINA ✈️ LAS MEJORES PROMOCIONES 🏙️ VIAJA YA! 🔥</h3>
            </div>
            <div class="navbar">
                <div class="logo">
                    <!-- <h1>RECORRE</h1>
                    <h2>🩵 ARGENTINA</h2> -->
                    <!-- <img src="/LOGO.png" alt="">  -->
                </div>
                <div class="menu">
                    <ul>
                        <li> <a href="/index.html">INICIO</a></li>
                        <li> <a href="/templates/Nosotros.html">NOSOTROS</a></li>
                        <li> <a href="/templates/Paquetes.html">PAQUETES</a></li>
                        <li> <a href="/templates/servicios.html">SERVICIOS</a></li>
                        <li> <a href="/templates/Contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>








    </header>



    <main>



        <div class="destinos">

            <div class="destino-box">





                <div class="destino-text">

                    <h1>¡CONOCE RIO NEGRO!</h1>
                    <h2> CON LA MEJOR OFERTA PARA TI</h2>

                    <h4> SEMANA 1 : DESCUBRE LA ESENCIA DE BUENOS AIRES </h4>

                    <p>Comenzaremos tu aventura con una cálida bienvenida en tu hotel céntrico, ubicado estratégicamente
                        para que puedas explorar fácilmente los icónicos barrios porteños. Durante los primeros días, te
                        sumergirás en el corazón de Buenos Aires con un tour guiado por el casco histórico. Aquí, la
                        majestuosidad del Teatro Colón y la imponente Casa Rosada te transportarán a través de la rica
                        historia argentina. <br> </p>

                    <h4>SEMANA 2: EXPLORA y SABOREA BUENOS AIRES</h4>

                    <p> Durante la segunda semana, explorarás los diversos barrios que hacen de Buenos Aires una ciudad
                        única en su estilo. Desde la elegancia europea de Recoleta con su famoso cementerio y museos,
                        hasta la bohemia de Palermo con sus boutiques de diseño y parques exuberantes, cada barrio tiene
                        su propio encanto y personalidad que te invita a descubrir. </p>

                    <h4>SERVICIOS INCLUIDOS EN TU PAQUETE </h4>

                    <p> 🔰Alojamiento de lujo en hoteles seleccionados. <br>
                        🔰Transporte privado para todas las actividades incluidas. <br>
                        🔰 Guías expertos en historia, cultura y gastronomía. <br>
                        🔰Todas las comidas mencionadas en el itinerario. 

                    <h4>RESERVA TU VIAJE A RIO NEGRO </h4>

                    <p>Nos encargaremos de todos los detalles para que solo te preocupes por disfrutar y explorar esta ciudad fascinante.

                        ¡No esperes más para reservar tu aventura en Buenos Aires!   </p> <br>







                    <!-- <ul class="vertical">
                        <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> kosaksaksaosakodskao </li>
                        <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> kosaksaksaosakodskao</li>
                        <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> kosaksaksaosakodskao</li>
                        <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a> kosaksaksaosakodskao</li>
                    </ul>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro impedit excepturi laboriosam
                        deleniti modi aliquid aliquam, quia cumque consectetur ex minus quasi eveniet, distinctio
                        laudantium delectus culpa ducimus iusto omnis?
                    </p>

                -->



                </div>

                <div class="destino-img">

                    <img class="imagen-del-destino" src="/assets/imgPaquetes/RIO NEGRO.jpg" alt="">


                </div>







            </div>

        </div>

        <!-- <div class="viajes-carrusel">

            <div class="tarjeta2">
                <img src="/BS AS CAPITAL.jpg" alt="">
                <h1>BUENOS AIRES</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/TUCUMAN.jpg" alt="">
                <h1>TUCUMAN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/MENDOZA.webp" alt="">
                <h1>MENDOZA</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/CORDOBA.jpg" alt="">
                <h1>CORDOBA</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>

            <div class="tarjeta2">
                <img src="/CHUBUT.jpg" alt="">
                <h1>CHUBUT</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>
            <div class="tarjeta2">
                <img src="/CHUBUT.jpg" alt="">
                <h1>CHUBUT</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda corrupti aliquam
                    praesentium modi, tempore unde a? Nisi ullam nemo fugit fugiat minima, sunt saepe totam, tenetur
                    consequatur cupiditate voluptatem!</p>
                <button>OFERTA EXCLUSIVA</button>
            </div>

        </div> -->







    </main>


    <footer class="footer">


        <div class="container">

            <div class="footer-link">
                

                <div class="link">
                    <h3>MENU</h3>
                    <ul>
                        <li><a href="#">INCIO</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">PAQUETES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>

                <div class="link">
                    <h3>SERVICIOS</h3>
                    <ul>
                        <li><a href="#">VIANDAS</a></li>
                        <li><a href="#">SEGURO</a></li>
                        <li><a href="#">CHOFER</a></li>
                        <li><a href="#">GUIA</a></li>
                        <li><a href="#">TRADUCTOR</a></li>
                    </ul>
                </div>

                <div class="link">
                    <h3>DES. FAVORITOS</h3>
                    <ul>
                        <li><a href="#">INCIO</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                        <li><a href="#">VIAJES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div> 


                <div class="link">
                    <h3>SIGUIENOS</h3>
                    <div class="socials">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://x.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="https://ar.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <h3>SUSCRIBETE</h3>
                    <form>
                        <input type="email" placeholder="Correo">
                        <input class="btn" type="submit" value="Enviar">
                    </form>
                </div>

            </div>

            <hr>
            <div class="footer-text">
                <p>Politica de privacidad</p>
                <p>Terminos y condiciones de servicio</p>
                <p>Politica de cookies</p>
                <p>Todos los derechos reservados</p>

            </div>

        </div>



    </footer>


</body>

</html>